body {
	font-family:'Meiryo';
}
/*--------------------------------------
メニュー
---------------------------------------*/
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #880000;
	position: fixed;
	z-index:100;
}
.menu li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
.menu li:last-child {
	border-right: 1px solid #bbbbbb;
	margin: 0 0 0 auto;
}
.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menu li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}

/*--------------------------------------
検索フォーム
---------------------------------------*/
.serch {
	position:relative; top:50px;
}
.text label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.text input[type=text] {
  background: #fff;
  border: 1px solid #999999;
  font-size: 14px;
  padding: 10px;
}
.message {
	position:relative; top:50px;
}
/*--------------------------------------
検索ボタン
---------------------------------------*/
.aaa {
 padding: 8px 15px;
 font-size: 1em;
 background-color: #000;
 color: #fff;
 border-style: none;

}
.aaa:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}
/*--------------------------------------
表示ボタン
---------------------------------------*/
.btn-partial-line {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 3px #FFE4E1;
  border-left: solid 3px #FFE4E1;
  color: #668ad8;
  transition: .4s;
  width:20%;
  margin-left: auto;
}

.btn-partial-line:hover {
  padding-left: 0.7em;
  padding-right: 0.3em;
}
/*--------------------------------------
本文
---------------------------------------*/
div.bbb{
	padding: 0.5em 1em;
	border-top: 3px solid #880000;
    background: #f8dce0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width:80%;
    margin:auto;
    margin-top: 50px;
}
.text {
	background: white;
}
.category {
	font-weight: bold;
}
/*--------------------------------------
コメントリスト
---------------------------------------*/
.cp_menu {
	width:70%;
	margin:auto;
}
.cp_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}
.comment{
	display: inline-block;
	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	border: solid 3px #555;
	box-sizing: border-box;
	border-radius: 10px;
	background: white;
}
/*--------------------------------------
コメントフォーム
---------------------------------------*/
.commentForm {
	width:70%;
	margin:auto;
}
/*--------------------------------------
見出し
---------------------------------------*/
h3 {
  padding: .75em 1em;
  border: 1px solid #ccc;
  border-top: 3px solid #880000;
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
  text-align: center;
}
h4 {
  padding: .75em 1em;
  border: 1px solid #ccc;
  border-top: 3px solid #880000;
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
}
/*--------------------------------------
投稿
---------------------------------------*/
.message-box {
    margin: auto;
    background: #FFF;
    width:80%;
}
.message-box .message-title {
    font-size: 20px;
    background: #880000;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.letter-body {
    padding: 15px 20px;
    margin: 0;
    font-size: 15px;
    width: 95%;
}
.wrap {
	white-space: pre-wrap ;
}
/*--------------------------------------
投稿者
---------------------------------------*/
.messageUser {
	width:40%;
	margin-left: auto;
}
.user {

	text-align: right;
}
/*--------------------------------------
投稿削除
---------------------------------------*/
.messageDelete {
	width:10%;
	float: right;
	margin-left: 20px;
}
/*--------------------------------------
エラーメッセージ
---------------------------------------*/
.errorMessages ul {
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative; top:50px;
  color: #FF0000;
}

.errorMessages ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

.errorMessages ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/
}
.copyright {
	width:100%;
	text-align: center;
	bottom: 0;
}