
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
.login-header {
  background: #880000;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
.login p {
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-size: 0.95em;
}
.login input[type="submit"] {
  background: #880000;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

/*--------------------------------------
エラーメッセージ
---------------------------------------*/
.errorMessages ul {
  padding: 0.5em 1em 0.5em 2.3em;
  color: #FF0000;
}

.errorMessages ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

.errorMessages ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
 /* position: absolute;*/
  left : 1em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/
}
/*--------------------------------------
コピーライト
---------------------------------------*/
.copyright {
	width:100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}
