body {
	font-family:'Meiryo';
}
/*--------------------------------------
メニュー
---------------------------------------*/
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #880000;
	position: fixed;
	z-index:100;
}
.menu li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
.menu li:last-child {
	border-right: 1px solid #bbbbbb;
	margin: 0 0 0 auto;
}
.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menu li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}
/*--------------------------------------
エラーメッセージ
---------------------------------------*/
.errorMessages ul {
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative; top:50px;
  color: #FF0000;
}

.errorMessages ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

.errorMessages ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/
}
/*--------------------------------------
見出し
---------------------------------------*/
h3 {
  padding: .75em 1em;
  border: 1px solid #ccc;
  border-top: 3px solid #880000;
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
  text-align: center;
}
/*--------------------------------------
テーブル
---------------------------------------*/
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}
table th,table td{
	text-align: center;
}
table tr:nth-child(odd){
  background-color: #eee
}
table th {
	border: 1px solid #ccc;
	border-top: 3px solid #880000;
	background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
	background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
	text-align: center;

}
#stoped {
	width:80px;
}
.userList {
	position: relative; top:80px;
	width:90%;
	margin:auto;
}
.link {
	padding: 0.1em 0.3em;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(255,152,0,1) 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #ff9800;
}
.link:hover {
	background-position: -100% 0;
	color: #fff;
}
/*--------------------------------------
エラーメッセージ
---------------------------------------*/
.errorMessages ul {
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative; top:50px;
  color: #FF0000;
}

.errorMessages ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

.errorMessages ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/
}
.copyright {
	width:100%;
	text-align: center;
	bottom: 0;
}