body {
	font-family:'Meiryo';
}
/*--------------------------------------
メニュー
---------------------------------------*/
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #880000;
	position: fixed;
	z-index:100;
}
.menu li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
.menu li:last-child {
	border-right: 1px solid #bbbbbb;
	margin: 0 0 0 auto;
}
.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menu li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}
/*--------------------------------------
エラーメッセージ
---------------------------------------*/
.errorMessages ul {
  padding: 0.5em 1em 0.5em 2.3em;

  color: #FF0000;
}

.errorMessages ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

.errorMessages ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/
}
.copyright {
	width:100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}
/*--------------------------------------
登録フォーム
---------------------------------------*/
.main-contents {
	position: relative; top:80px;
	width:50%;
	margin: auto;
	border-top: 3px solid #880000;
    background: #f8dce0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.main-contents input[type=submit]{
	float:right;
	padding: 8px 15px;
	font-size: 1em;
	background-color: #000;
	color: #fff;
	border-style: none;
}
.messageTable {
	width:100%;
	margin: auto;
}
#message {
	width: 500px;
	height: 100px;
}
#title {
	width: 500px;
}